<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iwim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".update_student"></activity>
        <activity android:name=".update_teacher" />
        <activity android:name=".code" />
        <activity android:name=".modify_student" />
        <activity android:name=".teacher_chief" />
        <activity android:name=".std_chief_index" />
        <activity android:name=".Attendance_chef" />
        <activity android:name=".Schedule_chief" />
        <activity android:name=".Messagerie" />
        <activity android:name=".Subscribe" />
        <activity android:name=".modifiy_teacher" />
        <activity android:name=".messages_received" />
        <activity android:name=".send_message" />
        <activity android:name=".attendance_teacher" />
        <activity android:name=".emploi_teacher" />
        <activity android:name=".teachers_list" />
        <activity android:name=".students_list" />
        <activity android:name=".schedule" />
        <activity android:name=".add_teacher" />
        <activity android:name=".add_student" />
        <activity android:name=".index_student" />
        <activity android:name=".index_teacher" />
        <activity
            android:name=".Index_chef"
            android:label="@string/title_activity_index_chef"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.slideshow.signing"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".userActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".attendance_student" />
    </application>

</manifest>